.login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 60%;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 50px;
    background-color: white;
}
.login-RightSide, .login-LeftSide {
    flex: 1;
    padding: 20px;
}

.login-RightSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 50%;
    width: 50%;
    position: relative;
    cursor: pointer;
}

.input-container {
    position: relative;
    margin-bottom: 1.5rem;
    width:400px;
    transition: all 0.3s ease;
}

.floating-label {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 16px;
    color: #999;
    transition: all 0.3s ease;
    background-color: white;
    padding: 0 4px;
}

.input-container.focused .floating-label {
    top: -0.75rem;
    left: 0.8rem;
    font-size: 14px;
    color: #1A73E8;
    z-index: 10;
}

.input-container.focused input{
    border-color: #1A73E8;
}

.login-RightSide input {
    width: 100%;
    padding: 1.3rem;
    font-size: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.547);
    border-radius: 0.5rem;
    outline: none;
    background: #fff;
    box-sizing: border-box;
}

.forgot-password{
    transform: translateX(110%);
    color: #0b57d0;
    text-align: right; /* Align the text to the right */
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 15%;
}

.sign-in {
    display: inline-block;
    width: 130px;
    padding: 0.75rem 2rem;
    outline: none;
    border: none;
    background-color: #0b57d0;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    margin: 0.5rem 0;
}

.button-container .create-account{
    outline: none;
    border: none;
    background-color: white;
    color:#0b57d0;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    text-align: left;
    margin: 0.5rem 0;
    padding: 0px;
}

.sign-in:hover {
    background-color: #0d4cb3;
}

.create-account:hover{
    background-color: whitesmoke;
}
.login-LeftSide{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 50%;
    width: 50%;
    padding-bottom: 7%;
}
h1{
    font-size: 60px;
    padding-top: 0px;
    color: red;
}
h2{
    font-size: 40px;
    font-weight: lighter;
    padding-bottom: 10px;
}
.signin-text span{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}