.register{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.register-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 70%;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 50px;
    background-color: white;
}
.register-leftSide, .register-rightSide{
    flex: 1;
    padding: 20px;
}
.right-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-left: -2rem;
    margin-bottom: 30px
}
.right-side .input-container {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 10px;
    width:100%;
    transition: all 0.3s ease;
}
.right-side .floating-label {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 20px;
    color: #999;
    transition: all 0.3s ease;
    background-color: white;
    padding: 0 4px;
}
.right-side .input-container.focused .floating-label,
.right-side .input-container input:not(:placeholder-shown)+ .floating-label {
    top: -0.75rem;
    left: 0.8rem;
    font-size: 16px;
    color: #0b57d0;
    z-index: 10;
}
.right-side input {
    width: 100%;
    padding: 1.3rem;
    font-size: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.547);
    border-radius: 0.5rem;
    outline: none;
    background: #fff;
    box-sizing: border-box;
}
.right-side input:focus{
    border: 3px solid #0b57d0;
}
.right-side .password-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}
.right-side #password{
    margin-left: -0.70rem;  
}
.right-side #confirmPassword{
    margin-left: 0.85rem;  
}
.right-side #pwd-label{
    margin-left: -0.70rem;
}
.right-side #confirm-label{
    margin-left: 0.70rem;
}
.register-rightSide .button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
    width: 100%;
    margin-left: -2rem;
}
.register-rightSide .sign-up {
    width: 100px;
    padding: 0.75rem 0.75rem;
    outline: none;
    border: none;
    background-color: #0b57d0;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 20px;
    cursor: pointer;
}
.register-rightSide .sign-up:hover {
    background-color: #0d4cb3;
}
.register-rightSide .signin{
    outline: none;
    border: none;
    background-color: white;
    color:#0b57d0;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}
.register-rightSide .signin:hover{
    background-color: whitesmoke;
}
.register-leftSide{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: -5rem;
    margin-left: 50px;
    padding-bottom: 6rem;
}
.register-leftSide h1{
    font-size: 60px;
    color: red;
}
.register-leftSide h2{
    font-size: 40px;
    font-weight: lighter;
    padding-bottom: 10px;
}
.input-container .error{
    color: red;
    font-size: 14px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.input-container .password-error{
    margin-left: 0px;
}
.input-container .confirmPwd-error{
    margin-left: 25px;
}
.input-container .error svg {
    margin-right: 0.5rem;
}
.input-container.error-border .floating-label {
    color: red;
  }
.input-container.error-border input {
    border: 3px solid red;
  }