.home-container {
    display: flex;
    background: #f9f9f9;
    height: 100vh;
    overflow: hidden;
  }
  .sidebar {
    flex-shrink: 0; /* Prevent sidebar from shrinking */
}
.container{
    background: #f9f9f9;
    padding-left: 19%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    flex-grow: 1;
}
.large-container{
    padding-left: 7%;
}
