.home-container {
  display: flex;
  background: #f9f9f9;
  height: 100%;
  overflow: hidden;
  overflow-x: hidden;
}
.sidebar {
  flex-shrink: 0;
  overflow: hidden;
}
.container {
  background: #f9f9f9;
  padding-left: 18%;
  padding-right: 1%;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  flex-grow: 1;
  max-height: 100%;
}
.large-container {
  padding-left: 7%;
  padding-right: 2%;
}
@media (max-width: 1300px) {
  .container {
    padding-left: 9%;
    padding-right: 2%;
  }
}
@media (max-width: 1024px) {
  .container {
    padding-left: 10%;
    /* padding-right: 5%; */
  }
  .home-container {
    overflow-x: hidden;
  }
}
@media (max-width: 1080px) and (max-height: 600px) {
  .container {
    padding-left: 9%;
    /* padding-right: 5%; */
  }
}
@media (max-width: 850px) {
  .container {
    padding-left: 12%;
    /* padding-right: 5%; */
  }
}
@media (max-width: 770px) {
  .container {
    /* padding-right: 6%; */
    padding-left: 10%;
  }
}
@media (max-width: 550px) {
  .container {
    padding-left: 3%;
    padding-bottom: 15%;
    padding-right: 3%;
  }
}
@media (max-width: 480px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 28%;
  }
}
