.forgotPassword{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.forgot-password-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 60%;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 50px;
    background-color: white;
}
.forgotPwd-leftSide, .forgotPwd-rightSide {
    flex: 1;
    padding: 20px;
}
.forgotPwd-rightSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}
.forgotPwd-rightSide .para{
    margin-bottom: 30px;
}
.formInput input{
    width: 100%;
    padding: 1.3rem;
    font-size: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.547);
    border-radius: 0.5rem;
    outline: none;
    background: #fff;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.formInput{
    position: relative;
    margin-bottom: 3.5rem;
    transition: all 0.3s ease;
}
.formInput .floating-label {
    position: absolute;
    top: 1rem;
    left: 1rem;
    /* margin-left: 13px; */
    /* margin-bottom: 10px; */
    font-size: 20px;
    color: #999;
    transition: all 0.3s ease;
    background-color: white;
    padding: 0 4px;
}
.formInput.focused .floating-label,
.formInput input:not(:placeholder-shown)+ .floating-label {
    top: -0.75rem;
    left: 1rem;
    font-size: 16px;
    color: #0b57d0;
    z-index: 10;
}
.formInput.focused input{
    border:3px solid #0b57d0;
}
.forgotPwd-rightSide .button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.forgotPwd-rightSide .email-submit {
    position: relative;
    width: 100px;
    padding: 0.75rem 0.75rem;
    outline: none;
    border: none;
    background-color: #0b57d0;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;

}
.forgotPwd-leftSide{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: -5rem;
    margin-left: 50px;
    padding-bottom: 6rem;
}
.forgotPwd-leftSide h1{
    font-size: 60px;
    color: red;
}
.forgotPwd-leftSide h2{
    font-size: 40px;
    font-weight: lighter;
    padding-bottom: 10px;
    color: black;
}
.forgotPwd-rightSide .error {
    border-color: red; /* Example: Red border for error state */
    margin-top: -40px;
    margin-left: 10px;
    padding-bottom: 10px;
  }
.forgotPwd-rightSide.error-message {
    color: red;
    font-size: 0.8em;
  }
