.resetPassword {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.reset-password-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 60%;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 50px;
  background-color: white;
}

.resetPwd-leftSide,
.resetPwd-rightSide {
  flex: 1;
  padding: 20px;
}

.resetPwd-rightSide {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: flex-start;
  position: relative;
}

.resetPwd-rightSide .input-container {
  position: relative;
  margin-bottom: 2.5rem;
  width: 100%;
  transition: all 0.3s ease;
}

/* .resetPwd-rightSide .floating-label {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 20px;
    color: #999;
    transition: all 0.3s ease;
    background-color: white;
    padding: 0 4px;
} */

/* .resetPwd-rightSide .input-container.focused .floating-label,
.resetPwd-rightSide
  .input-container
  input:not(:placeholder-shown)
  + .floating-label {
  top: -0.75rem;
  left: 0.8rem;
  font-size: 16px;
  color: #0b57d0;
  z-index: 10;
} */

/* .resetPwd-rightSide .input-container.focused input {
  border: 3px solid #0b57d0;
} */

.resetPwd-rightSide input {
  width: 90%;
  padding: 1.3rem;
  font-size: 1rem;
  border: 2px solid rgba(0, 0, 0, 0.547);
  border-radius: 0.5rem;
  outline: none;
  background: #fff;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.resetPwd-rightSide .button-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
}

.resetPwd-rightSide .reset-submit {
  width: 200px;
  padding: 0.75rem 1rem;
  outline: none;
  border: none;
  background-color: #0b57d0;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.resetPwd-rightSide .reset-submit:hover {
  background-color: #0d4cb3;
}

.resetPwd-leftSide {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  margin-top: -5rem;
  margin-left: 50px;
  padding-bottom: 3rem;
}

.resetPwd-leftSide .reset-heading-1 {
  font-size: 60px;
  color: red;
  font-weight: bold;
  margin-bottom: 20px;
}

.resetPwd-leftSide .reset-heading-2 {
  font-size: 35px;
  padding-bottom: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.input-container .error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
@media (max-width: 1023px) {
  .reset-password-container {
    flex-direction: column;
    height: auto;
    min-height: auto;
    justify-content: center;
    align-items: center;
  }

  .resetPwd-leftSide,
  .resetPwd-rightSide {
    padding: 20px;
    margin: 0;
    width: 100%;
  }

  .resetPwd-leftSide {
    padding-left: 40px;
  }

  .resetPwd-leftSide h1 {
    font-size: 40px;
    padding-top: 20px;
  }

  .resetPwd-leftSide h2 {
    font-size: 30px;
  }
  .button-container {
    margin-top: 4rem;
  }
  .resetPwd-rightSide .reset-submit {
    font-size: 1rem; /* Reduced button font size */
  }
}

@media (max-width: 599px) {
  .reset-password-container {
    flex-direction: column;
    height: auto;
    min-height: 50%;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    justify-content: center;
    align-items: center;
  }

  .resetPwd-leftSide,
  .resetPwd-rightSide {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 10px;
  }

  .resetPwd-leftSide h1 {
    padding-top: 20px;
    font-size: 30px;
  }

  .resetPwd-leftSide h2 {
    font-size: 28px;
    margin-bottom: 0;
  }
  .resetPwd-leftSide {
    margin-bottom: 20px;
  }
}
@media (min-width: 800px) and (min-height: 1200px) {
  .reset-password-container {
    flex-direction: column;
    height: auto;
    min-height: auto;
    justify-content: center;
    align-items: center;
  }

  .resetPwd-leftSide,
  .resetPwd-rightSide {
    padding: 20px;
    margin: 0;
    width: 100%;
  }

  .resetPwd-leftSide {
    padding-left: 40px;
  }

  .resetPwd-leftSide h1 {
    font-size: 40px;
    padding-top: 20px;
  }

  .resetPwd-leftSide h2 {
    font-size: 30px;
  }
  .button-container {
    margin-top: 4rem;
  }
  .resetPwd-rightSide .reset-submit {
    font-size: 1rem;
  }
}
