.subscriptions{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 15px;
}
.subscriptions-card img{
    width: 100%;
    border-radius: 5px;
}
.subscriptions-card h2{
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin: 5px 0;
}
.subscriptions-card h3{
    font-size: 14px;
    font-weight: 600;
    color: #555;
    margin: 6px 0;
}
.subscriptions-card p{
    font-size: 14px;
}
.subscriptions-details{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.subscriptions-details img{
    width: 15%;
    border-radius: 50%;
    margin-right: 15px;
}
@media (max-width: 1575px) {
    .subscriptions {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1080px) {
    .subscriptions {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .subscriptions {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 12px;
        grid-row-gap: 20px;
    }
    .subscriptions-card img {
        width: 100%;
        border-radius: 5px;
    }

    .subscriptions-card h2 {
        font-size: 14px;
        font-weight: 600;
        color: #000;
        margin: 5px 0;
    }

    .subscriptions-card h3 {
        font-size: 12px;
        font-weight: 600;
        color: #555;
        margin: 4px 0;
    }

    .subscriptions-card p {
        font-size: 12px;
    }

    .subscriptions-details img {
        width: 20%; /* Adjust avatar size */
        margin-right: 10px; /* Adjust margin */
    }
}

@media (max-width: 480px) {
    .subscriptions {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 8px;
        grid-row-gap: 15px;
        padding-bottom: 60px; /* Add space for the fixed sidebar */
    }

    .subscriptions-card h2 {
        font-size: 12px;
    }

    .subscriptions-card h3 {
        font-size: 10px;
    }

    .subscriptions-card p {
        font-size: 10px;
    }

    .subscriptions-details img {
        width: 25%;
        margin-right: 8px;
    }
}
