.new-comment {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
 
  }
  .new-comment img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .new-comment input {
    flex: 1;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    outline: none;
    margin-bottom: 15px;
    font-size: 16px;
  }
  .comment-buttons {
    display: none;
    margin-left: 10px;
  }
  .input-field.visible{
    border-bottom: 2px solid #007BFF;
  }
  .comment-buttons.visible{
    display: flex;
    align-items: center;
  }
  .comment-buttons button {
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
  }
  .comment-buttons button:last-child {
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
  }
  .comment-buttons button:first-child:hover {
    background-color: #ebebe3;
  }  
  .comment-buttons button:last-child:hover {
    background-color: #1481f6;
  }  