.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex-grow: 1;
}

.content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.with-sidebar {
  margin-left: 200px; /* Adjust this value based on your sidebar width */
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}