.reply {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.reply img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.reply-header input {
  flex: 1;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  outline: none;
  margin-bottom: 15px;
  font-size: 16px;
}
.reply-buttons {
  display: none;
  margin-left: 10px;
}
.input-field.visible {
  border-bottom: 2px solid #007bff;
}
.reply-buttons.visible {
  display: flex;
  align-items: center;
}
.reply-buttons button {
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}
.reply-buttons button:last-child {
  background-color: #007bff;
  color: white;
  border-radius: 4px;
}
.reply-buttons button:first-child:hover {
  background-color: #ebebe3;
}
.reply-buttons button:last-child:hover {
  background-color: #1481f6;
}
/* .reply-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.reply-content {
  flex-grow: 1;
  margin-left: 10px;
}

.reply-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reply-actions {
  position: relative;
}

.icon-circle {
  display: inline-block;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 100%;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  z-index: 1;
}

.dropdown-menu button {
  padding: 10px 20px;
  width: 100%;
  border: none;
  background: none;
  cursor: pointer;
}

.reply-text {
  margin-top: 5px;
}

.edit-reply {
  display: flex;
  flex-direction: column;
  gap: 10px;
} */
