.update-reply-container {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.update-reply-container img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.update-reply-input {
  width: 100%;
  flex: 1;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 6px 10px;
  outline: none;
  margin-bottom: 15px;
  font-size: 14px;
}

.update-reply-input.visible {
  border-bottom: 2px solid #007bff;
}

.update-reply-buttons {
  display: none;
  margin-left: 10px;
}

.update-reply-buttons.visible {
  display: flex;
  align-items: center;
}

.update-reply-buttons button {
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

.update-reply-buttons button:last-child {
  background-color: #007bff;
  color: white;
  border-radius: 4px;
}

.update-reply-buttons button:first-child:hover {
  background-color: #ebebe3;
}

.update-reply-buttons button:last-child:hover {
  background-color: #1481f6;
}
