.play-container{
    background: #f9f9f9;
    padding: 30px 3%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.video-page-container {
    display: flex;
    position: relative;
    flex-direction: column;
  }
.play-container {
    flex-grow: 1;
    padding-left: 20px;
  }
.nav-menu {
  display: flex;
  transition: margin-left 0.3s;
}
.nav-menu.active .sidebar {
  transform: translateX(0);
}
.hidden-sidebar {
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.video-sidebar {
  width: 300px;
}
.main-content {
  flex-grow: 1;
}
.large-container {
  margin-left: 0;
}
.video-sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10; /* Ensure the overlay is below the sidebar */
}